.ios-clear {
    input,
    select,
    button {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.required::after {
    content: '*';
    color: red;
}

.break-all {
    word-break: break-all;
}
