@import '../variable/timing';

@keyframes rotate-360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.rotate {
    // 匀速旋转
    &-infinite {
        animation: rotate-360 $animation-timing linear infinite;
    }
}
